* {
    margin: 0;
}

html, body {
    height: 100%;
}

#map {
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

/*
.search div{
    position: relative;
}*/

.results > li > a{
    position: relative;

    margin-top: 10px;
    display: block;
    padding: 3px 5px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap
}

.results > li > a:focus, .results > li > a:hover {
    position: relative;

    margin-top: 20px;
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5
}

.dropdown-menu{
    margin-top: -17px;
    margin-left: 649px;
    background-color: white;
    border-radius: 0px;
}

.dropdown-menu li{
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
}

#search {
    position: relative;
    z-index: 1;
    margin-top: 20px;
    padding-left: 20px;
    background: transparent;
    display: inline-block;
}

#livesearch{
    box-shadow: 0 0 1px darkgrey;
    width: 500px;
    padding: 5px 0 5px 20px;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    border-left: 1px solid darkgrey;
    border-top:1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
    border-right: 0 none;
    height: 52px;
    margin-right: 0;
    color: white;
    outline: none;
    background: #e2e2e2;
    float: left;
    box-sizing: border-box;
    transition: all 0.15s;
}

::-webkit-input-placeholder {
    color: white;
}
:-moz-placeholder {
    color: white;
}
::-moz-placeholder {
    color: white;
}
:-ms-input-placeholder {
    color: white;
}

#livesearch:focus {
    background: darkgrey;
}

.dropdown-div{
    border: 0 none;
    background: #BAB8B8;
    width: 60px;
    float: left;
    padding: 0;
    margin: 0;
    text-align: center;
    height: 52px;
    cursor: pointer;
    border-radius: 0px;
}

.knapp
{
    box-shadow: 0 0 1px darkgrey;
    border-right: 1px solid darkgrey;
    border-top:1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
    border-left: 0 none;
    background: #BAB8B8;
    width: 60px;
    padding: 0;
    margin: 0;
    text-align: center;
    height: 52px;
    cursor: pointer;
    float: left;
}

.glyphicon-menu-down{
    color: white;
}

.result{
    width: 500px;
    margin-left: 150px;
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 1px 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.result li{
    margin-top: 20px;
    margin-left: 20px;
    padding: 0.5em 0.5em 0.5em 0;
    float: none;
}

.filtervalg{
    box-shadow: 0 0 1px darkgrey;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 20px;
    font-size: 12px;
    font-family: Montserrat, sans-serif;
    border: 1px solid darkgrey;
    color: black;
    outline: none;
    background: #BAB8B8;
    box-sizing: border-box;
    transition: all 0.15s;
}

.hide {
    display:none;
}

.exitsearch {
    border-radius: 60px;
    background-color: lightgrey;
    border: black;
    position: relative;
}

.exitsearch:hover{
    background-color: white;
    position: relative;

}

.exitsearch:after {
    display: block;
    margin: auto;
    padding: 2px;
    cursor: pointer;
}
.livesearch:not(:valid) ~ .close-icon {
     display: none;
 }

.sideBar{
    height: 300px;
    width: 300px;
    background-color: white;
    position: relative;

}

