* {
    margin: 0;
}

html, body {
    height: 100%;
}

#map {
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

/* search div */

#search {
    position: relative;
    z-index: 1;
    margin-top: 20px;
    margin-left: 20px;
    background: transparent;
    display: inline-block;
    width: 400px;
    max-width: 100%;
}

/* search input*/

#livesearch{
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    border: 1px solid white;
    height: 52px;
    margin-right: 0;
    color: black;
    outline: none;
    background: white;
    float: left;
    box-sizing: border-box;
    transition: all 0.15s;
    border-radius: 2px 0px 0px 2px; /* top left, top right, bottom right, bottom left */

}

::-webkit-input-placeholder {
    color: grey;
}
:-moz-placeholder {
    color: grey;
}
::-moz-placeholder {
    color: grey;
}
:-ms-input-placeholder {
    color: grey;
}

#livesearch:focus {
    background: white;
}

.knapp
{
    border-radius: 0px 2px 2px 0px; /* top left, top right, bottom right, bottom left */
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
    border-right: 1px solid white;
    border-top:1px solid white;
    border-bottom: 1px solid white;
    border-left: 2px solid darkgrey;
    background: white;
    width: 60px;
    padding: 0;
    margin: 0;
    text-align: center;
    height: 52px;
    cursor: pointer;
    float: left;
}

.knapp:focus {
    outline:0;
}

/* search results */


.divresult{
    padding:0;
    margin: 0;
    background-color: white;
    border-radius: 0;
    border-top: 2px solid darkgrey;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);

}

.divhelp{
    padding:0;
    margin-left: 5px;
    height: 40vh;
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 80%;
    margin-top: 0;
    left: 0;
    float: left;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: transparent;
    border: none;
    border-radius: 0px;
}

.result{
    height: 25vh;
    overflow: scroll;
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 100%;
    margin-top: 0;
    left: 0;
    float: left;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    border: 1px solid whitesmoke;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 0px 0px 2px 2px; /* top left, top right, bottom right, bottom left */
}

.result li{
    padding: 0.5em 0.5em 0.5em 0;
    margin: auto;
    float: none;
    border-bottom: 2px solid whitesmoke;

}

.result > li:first-child {
    padding: 5px;
    border: none;
}

.results > li > a{
    position: relative;
    margin-top: 10px;
    display: block;
    padding: 3px 5px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap
}

.results > li > a:focus, .results > li > a:hover {
    position: relative;
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5
}

.emptyresult{
    float: right;
    border: 0;
}

.emptyresult:hover{
    outline:0;
    background: white;
}

/* filter options */

.dropdowndiv{
    padding:0;
    margin: 0;

}
.meny{
    border: none;
    border-top: 2px solid darkgrey;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 0px 2px 2px 2px; /* top left, top right, bottom right, bottom left */
    top: 0px;
    margin-top: 0;
    z-index: 1;
    position: absolute;
    float: left;
    background-color: white;
    margin-left: 2px;
}

.meny li{
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.filtervalg{
    box-shadow: 0 0 1px darkgrey;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    font-size: 12px;
    font-family: Montserrat, sans-serif;
    border: none;
    border-radius: 2px;
    color: black;
    outline: none;
    background: white;
    box-sizing: border-box;
    transition: all 0.15s;
}

.filtervalg:focus{
    outline: 0;
}
.bootstrap-select .btn:focus {
    outline: none !important;
}

.hide {
    display:none;
}

.glyphicon-menu-down{
    color: white;
}

/* modal */

#divModal{
    position: relative;
    margin-top: 0;

}

/* other */

.no-padding{
    padding: 0;
    padding: 0 !important;
    margin: 0 !important;
}

