<div>
    <div [hidden]="!active">
        <form *ng-if="editmode" (ng-submit)="onSubmit()" #of="form">
            <h3>{{activeOrgUnit.id?"Update Organizational Unit":"Add new Organizational Unit"}}</h3>
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" type="text" [(ng-model)]="activeOrgUnit.name" required ng-control="name" #name="form">
                <p [hidden]="name.valid" class="alert alert-danger">
                    Name is required
                </p>

            </div>
            <div class="form-group">
                <label>Short Name</label>
                <input class="form-control" type="text" [(ng-model)]="activeOrgUnit.shortName" required ng-control="shortname" #shortname="form">
                <p [hidden]="shortname.valid" class="alert alert-danger">
                    Short name is required
                </p>
            </div>

            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" [(ng-model)]="activeOrgUnit.description" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label>Code</label>
                <input class="form-control" type="text" [(ng-model)]="activeOrgUnit.code">
            </div>
            <div class="form-group">
                <label>Opening Date</label>
                <input class="form-control" type="date" [(ng-model)]="activeOrgUnit.openingDate" required ng-control="openingdate" #openingDate="form">
                <p [hidden]="openingdate.valid" class="alert alert-danger">Opening date is required</p>
            </div>
            <div class="form-group">
                <label>Closed Date</label>
                <input class="form-control" type="date" [(ng-model)]="activeOrgUnit.closedDate">
            </div>
            <div class="form-group">
                <label>URL</label>
                <input class="form-control" type="url" [(ng-model)]="activeOrgUnit.url" ng-control="url" #url="form">
                <p [hidden]="url.valid" class="alert alert-danger">The specified URL is not valid</p>
            </div>
            <fieldset class="form-group">
                <legend>Group(s)</legend>
                <div *ng-for="#group of activeOrgUnit.organisationUnitGroups">
                    <input class="form-control" type="text" [(ng-model)]="group.name">
                </div>
            </fieldset>
            <button type="button" (click)="cancel()" class="btn btn-default">Cancel</button>
            <button type="submit" [disabled]="!of.form.valid" class="btn btn-default">{{activeOrgUnit.id? "Update" :"Add"}}</button>

        </form>

        <section *ng-if="!editmode">
            <label for="actOrgUnitName">Name</label>

            <p id="actOrgUnitName">{{(activeOrgUnit.name) || "[None]"}}</p>

            <label for="actOrgUnitShortName">Short Name</label>

            <p id="actOrgUnitShortName">{{(activeOrgUnit.shortName)||["None"]}}</p>

            <label for="actOrgUnitDescription">Description</label>

            <p id="actOrgUnitDescription">{{(activeOrgUnit.description)||"None"}}</p>

            <label for="actOrgUnitCode">Code</label>

            <p id="actOrgUnitCode">{{(activeOrgUnit.code)||["None"]}}</p>

            <label for="actOrgUnitOpeningDate">Opening Date</label>

            <p id="actOrgUnitOpeningDate">{{activeOrgUnit.openingDate||["None"]}}</p>

            <label for="actOrgUnitClosingDate">Closed Date</label>

            <p id="actOrgUnitClosingDate">{{activeOrgUnit.closingDate||["None"]}}</p>

            <label for="actOrgUnitURL">Url</label>

            <p id="actOrgUnitURL">{{(activeOrgUnit.url) ||["None"]}}</p>

            <label>Group(s)</label>
            <ul *ng-for="#group of activeOrgUnit.organisationUnitGroups">
                <li>{{group.name}}</li>
            </ul>
            <button class="btn btn-default" (click)="editmode = !editmode">Edit</button>
        </section>


    </div>
</div>