<div id="search">

    <label class="sr-only" for="livesearch">Search</label>

      <form> <input
                mou-live-search
               (results)="orgunits = $event"
               (loading)="loading = $event"
               type="text"
               autofocus
               class="livesearch"
               name="livesearch"
               id="livesearch"
               placeholder="Search"
                value = "" />

 <button class="exitsearch" id="exitsearch" (click)="emptyByClick()">
        &cross; </button></form>

<span [hidden]="hideDiv()">


    <div class="divresult" id="divresult" [hidden]="checkOrgunits()" >
        <ul id="d" class="dropdown-menu result">
            <li id="c" *ng-for="#orgunit of filteredOrgunits" id="orglist" (click)="getMoreInfo(orgunit)" >
                <a id="left-menu" href="#">{{orgunit.name}}<br/><span>{{orgunit.lastUpdated}}</span></a>
            </li>
        </ul>
    </div>

</span>

    <button type="button" class="knapp" (click)="toggle()" onclick="$('#ownershipSelector, #typeSelector, #locationSelector').prop('selectedIndex',0);" data-toggle="collapse" data-target="#dropdown-menu">
        {{ visible ? '&xdtri;' : '&cross;' }}
    </button>



<ul id="dropdown-menu" class="dropdown-menu">
    <li><select class="form-control filtervalg" id="ownershipSelector" (click)="setFilter()">

    </select></li>
    <li><select class="form-control filtervalg" id="typeSelector" (click)="setFilter()">

    </select></li>
    <li><select class="form-control filtervalg" id="locationSelector" (click)="setFilter()">

    </select></li>
</ul>



</div>





