<div class="search">
    <section class="form-group">
        <label class="sr-only" for="livesearch">Search</label>
        <input
                mou-live-search
                (results)="orgunits = $event"
                (loading)="loading = $event"
                type="text"
                autofocus
                id="livesearch">
        <img [hidden]="!loading"
             src="https://www.brown.edu/sites/default/themes/pawtuxet/img/loader-larger.gif">
    </section>
    <section>
        <ul>
            <li *ng-for="#orgunit of orgunits" (click)="getMoreInfo(orgunit)">
                {{orgunit.name}}
            </li>
        </ul>
    </section>
</div>
