<div id="map"></div>


<div id="divModal" class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="closeModal()">&times;</button>
            <h4 class="modal-title">What do you want to do? </h4>
        </div>
        <div id="topLevel">
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="seeDetails()">See details</button>
                <button type="button" class="btn btn-default" (click)="drillDown()">Drill down</button>
            </div>
        </div>
        <div id="middleLevel">
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="drillUp()">Drill up</button>
                <button type="button" class="btn btn-default" (click)="seeDetails()">See details</button>
                <button type="button" class="btn btn-default" (click)="drillDown()">Drill down</button>
            </div>
        </div>
        <div id="bottomLevel">
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="drillUp()">Drill up</button>
                <button type="button" class="btn btn-default" (click)="seeDetails()">See details</button>
                <button type="button" class="btn btn-default" (click)="addUnit()">Add new</button>
            </div>
        </div>
    </div>
</div>