<div id="map"></div>


<div id="divModal" >
    <!--- class="modal-dialog modal-sm">-->
  <!--  <div class="modal-content">-->

  <!--      <div class="modal-header">-->
            <button type="button" class="close" (click)="closeModal()">&times;</button>
            <h4 class="modal-title">What do you want ? </h4>
   <!--     </div>-->

    <!--    <div class="modal-body">-->
        <div id="topLevel">
                <button type="button" class="btn btn-default" (click)="seeDetails()">See details</button>
                <button type="button" class="btn btn-default" (click)="drillDown()">Drill down</button>
        </div>
        <div id="middleLevel">
            <button type="button" class="btn btn-default" (click)="seeDetails()">See details</button>
            <button type="button" class="btn btn-default" (click)="drillDown()">Drill down</button>
            <button type="button" class="btn btn-default" (click)="drillUp()">drill up</button>
        </div>
        <div id="bottomLevel">
                <button type="button" class="btn btn-default" (click)="addUnit()">Yes</button>
                <button type="button" class="btn btn-default" (click)="seeDetails()">See details</button>
                <button type="button" class="btn btn-default" (click)="drillUp()">Drill up</button>
        </div>
    <!--    </div>

        <div class="modal-footer">
         hei
        </div>
-->


    <!--</div>-->
</div>
